@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@font-face {
	font-family: "Clash Display";
	src: url("./assets/fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Variable.woff2")
		format("woff2");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Clash Display";
	src: url("/fonts/ClashDisplay/ClashDisplay-Bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "McQueen";
	src: url("./assets/fonts/McQueen/WEB/VAR/FwTRIAL-McQueenVAR.woff2")
		format("woff2");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Pangea";
	src: url("./assets/fonts/Pangea/WEB/VAR/FwTRIAL-PangeaVAR.woff2")
		format("woff2");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi-Variable";
	src: url("./assets/fonts/Satoshi/Fonts/WEB/fonts/Satoshi-Variable.woff2")
		format("woff2");
	font-weight: 300 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Satoshi-Variable";
	src: url("./assets/fonts/Satoshi/Fonts/WEB/fonts/Satoshi-VariableItalic.woff2")
		format("woff2");
	font-weight: 300 900;
	font-style: italic;
	font-display: swap;
}

@theme {
	--color-white-100: #efefef;
	--font-jakarta: "Plus Jakarta Sans", sans-serif;
	--font-inter: "Inter", sans-serif;
	--font-merriweather: "Merriweather", serif;
	--font-clash: "Clash Display", sans-serif;
	--font-satoshi: "Satoshi-Variable", sans-serif;
	--font-urbanist: "Urbanist", sans-serif;
	--font-mcqueen: "McQueen", sans-serif;
	--font-pangea: "Pangea", sans-serif;
}

@layer base {
	html {
		scroll-behavior: smooth;
	}
	::selection {
		background-color: #b5f4dc;
		color: rgb(21, 71, 51);
	}
}

@keyframes float {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-6px);
	}
}
.animate-float {
	animation: float 3s ease-in-out infinite;
}

.satoshi {
	font-family: "Satoshi", sans-serif;
}
